.card {
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
}

.card:hover {
  transform: scale(1.2);
}

.modal {
  backdrop-filter: blur(8px);
}

.modal-content {
  border-radius: 20px;
  box-shadow: 5px 20px 50px #000000;
}
